@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.header__text {
  max-width: 500px;
  margin: 5rem 2rem; }

.header__text h1 {
  font-size: 3rem;
  opacity: 0.7;
  margin-bottom: 2Rem; }

.header__text p {
  font-weight: bold;
  opacity: 0.5;
  margin-bottom: 5Rem; }

.header__text a {
  background-image: linear-gradient(to right, #5555a5, #5165b2, #3ea3c5, #3da6c6); }

.header__video {
  background-image: linear-gradient(140deg, #4c6d7de0, #5a576fbb); }

.header__video video {
  height: 600px;
  width: 800px; }

@media only screen and (max-width: 760px) {
  .header__video video {
    height: 600px;
    width: 720px; } }

@media only screen and (max-width: 375px) {
  .header__video video {
    height: 370px;
    width: 345px; } }

#réalisons {
  text-align: center;
  margin-top: -59px;
  height: 145vh; }

.réalisons-infos {
  text-align: center;
  font-size: 18px; }
  .réalisons-infos h1 {
    padding-top: 100px; }

.chaque {
  text-align: center;
  font-size: 9px;
  color: #7f98b8; }

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 40px;
  color: #b3b7b9; }

h4 {
  color: #3a3939; }

section {
  background-color: #eef0f1; }

.bara {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.bara {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: 13px;
  color: #878888; }

h3 {
  margin-top: 44px; }

.bara--A strong span {
  color: #7f98b8; }

.spn {
  color: #7f98b8; }

@media screen and (max-width: 640px) {
  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap; }
  #réalisons {
    text-align: center;
    height: 100%; } }

#team {
  background-color: #e8eaef; }
  #team .team_bigTitle {
    text-align: center;
    padding-top: 20px;
    color: #696464;
    font-size: 30px; }
  #team .members {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }

#footer #boutton button {
  z-index: 99;
  border-radius: 10px;
  width: 256px;
  height: 64px;
  text-decoration: none;
  font-size: 20px;
  background-color: #5cdce6;
  display: block;
  margin-bottom: 10px;
  text-align: center;
  border: none;
  cursor: pointer; }
  #footer #boutton button:hover {
    background-color: white;
    color: black; }

#footer {
  color: white;
  z-index: auto;
  background: url(../img/footer-image.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 98.9vw;
  height: auto;
  margin-top: -6px; }
  #footer .head {
    text-align: center;
    z-index: 2; }
    #footer .head h1 {
      padding-top: 80px;
      font-size: 55px; }
    #footer .head h5 {
      font-size: 24px; }
    #footer .head #para {
      margin-top: 50px;
      font-size: 20px; }
  #footer #boutton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px; }
    #footer #boutton #btn1 {
      background-color: white;
      color: black; }
      #footer #boutton #btn1:hover {
        background-color: #5cdce6;
        color: white; }
    #footer #boutton p {
      display: flex;
      justify-content: space-around;
      margin: 0 auto; }
    #footer #boutton #email {
      position: relative;
      right: 7%; }

#fin {
  display: flex;
  justify-content: space-between;
  margin: 130px auto 0 auto;
  width: 90%; }
  #fin p {
    text-align: left;
    left: 0; }
  #fin #pages {
    display: inline-flex;
    align-items: flex-end; }
    #fin #pages .con {
      margin: 10px 5px 0 5px; }
      #fin #pages .con svg {
        color: white;
        background-color: white; }

.CR {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 40px auto 0 auto;
  justify-content: space-between; }
  .CR .left a {
    text-decoration: underline;
    color: white; }
    .CR .left a:first-child {
      margin-right: 20px; }
