 @import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
  *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
       font-family: 'Nunito', sans-serif;
   }

  .réalisons{
  
   text-align: center;
}

.réalisons-infos{
      text-align: center;
     font-size: 18px;
}   
.chaque{
    text-align: center;
    font-size: 9px;
    color: rgb(127,152,184);
   
}
.container{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 40px;
    color: rgb(179, 183, 185);
   }
    h4{
        color: rgb(58, 57, 57);
    }
   
  section{
     
background-color: rgb(238, 240, 241);
  }
    
.bara{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.bara{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: 13px;
  color: #878888;
  
  
}
h3{
  margin-top: 10px;
 
  }

  .bara--A{

    strong{

      span{
        color: rgb(127,152,184);
      }
    }

  }

  .spn {

    color: rgb(127,152,184);
  }

  @media screen and (max-width: 640px) {

    .container{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
     }

    }
  